@model CarAddDto
<div class="card mb-grid w-50 ml-5 mt-5">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div class="card-header-title">Araç Güncelle</div>


    </div>
    <div class="card-body collapse show" id="card1">
        <form asp-action="Add" asp-controller="Car" method="post" enctype="multipart/form-data">
            @if (TempData["ImageError"] != null)
            {
                var message = (TempData["ImageError"] as String);

                <div class="row p-3 mb-2 bg-warning text-dark">
                    <div class="col-md-12">
                        <div>
                            @message
                        </div>
                    </div>
                </div>
            }
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">

                <label asp-for="CategoryId" class="form-label btn-sm" for="exampleFormControlSelect1">Kategori</label>
                <a class="text-primary float-right" data-toggle="modal" data-target="#exampleModal">
                    Ekle<i style="width:16px; height:16px;"  data-feather="plus"></i>
                </a>

               
                <select class="form-control" id="exampleFormControlSelect1" asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories,"Id","CategoryName"))"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="BrandId" class="form-label" for="exampleFormControlSelect1">Marka</label>
                <a class="text-primary float-right" data-toggle="modal" data-target="#exampleModal2">
                    Ekle<i style="width:16px; height:16px;" data-feather="plus"></i>
                </a>
                <select class="form-control" id="exampleFormControlSelect2" asp-for="BrandId" asp-items="@(new SelectList(Model.Brands,"Id","Name"))">
                    <span asp-validation-for="BrandId" class="text-danger"></span>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Model" class="form-label" for="exampleInputEmail1">Model</label>
                <input asp-for="Model" type="text" class="form-control" id="exampleInputEmail1" placeholder="Araç Modeli">
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kilometer" class="form-label">Kilometre</label>
                <input asp-for="Kilometer" type="text" class="form-control" id="kilometer" placeholder="Araç Kilometresi">
                <span asp-validation-for="Kilometer" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="ProductionYear" class="form-label">Üretim Yılı</label>
                <input asp-for="ProductionYear" type="text" class="form-control" id="productionyear" placeholder="Araç Üretim Yılı">
                <span asp-validation-for="ProductionYear" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="FuelType" class="form-label">Yakıt Türü</label>
                <input asp-for="FuelType" type="text" class="form-control" id="FuelType" placeholder="Araç Yakıt Türü">
                <span asp-validation-for="FuelType" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Price" class="form-label">Günlük Kira Bedeli</label>
                <input asp-for="Price" type="text" class="form-control" id="Price" placeholder="Günlük Kira Bedeli">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="form-label">Açıklama</label>
                <textarea asp-for="Description" id="summernote"></textarea>
                
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Photo" class="form-label">Lütfen Resim Seçiniz</label>
                <input asp-for="Photo" type="file" class="form-control" id="Photo" placeholder="Lütfen resim seçiniz" multiple>
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            
            
            <button type="submit" class="btn btn-primary">Ekle</button>

            
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

    <script>
      $('#summernote').summernote({
        placeholder: 'Araç Hakkında...',
        tabsize: 2,
        height: 120,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture',]],
          ['view', ['codeview', 'help']]
        ]
      });
    </script>
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Kategori Ekle</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form>
        <div class="form-group">
            <label class="d-block form-label">Kategori ismi</label>
            <input class="form-control" type="text" id="CategoryName" />
            

            
        </div>
                </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
        <button type="button" class="btn btn-primary" data-keyword="false" id="btnSave">Ekle</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Marka Ekle</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form>
        <div class="form-group">
            <label class="d-block form-label">Marka ismi</label>
            <input class="form-control" type="text" id="BrandName" />
            

            
        </div>
                </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
        <button type="button" class="btn btn-primary" data-keyword="false" id="btnSaveBrand">Ekle</button>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
@section Scripts{
    <script src="~/js/categoryAdd.js"></script>

    <script>
    var app= app || {};
    app.Urls=app.Urls || {};

    app.Urls.baseUrl='@Url.Content("~")';
    app.Urls.categoryAddUrl= "@Url.Action("AddWithAjax","Category")";
    app.Urls.carAddUrl="@(Url.Action("Add","Car"))";
    </script>
    <script src="~/js/brandAdd.js"></script>
    <script>
        var app = app || {};
        app.Urls = app.Urls || {};

        app.Urls.baseUrl = '@Url.Content("~")';
        app.Urls.brandAddUrl = "@Url.Action("AddWithAjax","Brand")";
        app.Urls.carAddUrl = "@(Url.Action("Add", "Car"))";
    </script>
}

