@model List<CarRentalDto>
@if (TempData["RentCancellation"] != null)
                {
                    <div class="alert alert-warning">@TempData["RentCancellation"]</div>
                }
<div class="col">
    <div class="card mb-grid mt-5">
        <div class="card-header d-flex justify-content-between align-items-center">

            <div class="card-header-title">Iade ve Iptal Talebi</div>
        </div>
        @if(Model.Count != 0)
        {
            
       
        <div class="table-responsive-md">
            <table class="table table-actions table-striped table-hover mb-0">

                <thead>
                    <tr>
                        <th scope="col">
                            <label class="custom-control custom-checkbox m-0 p-0">
                                <input type="checkbox" class="custom-control-input table-select-all">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </th>
                        <th scope="col">Kiralanan Araç</th>
                        <th scope="col">Kiralayan Kullanıcının Adı Soyadı</th>
                        <th scope="col">Kiralayan Kullanıcının Email Adresi</th>
                        <th scope="col">Kira Başlangıç Tarihi</th>
                        <th scope="col">Araç Dönüş Tarihi</th>
                        <th scope="col">Ödenen Tutar</th>




                    </tr>
                </thead>
                <tbody>
                    @foreach (var rental in Model)
                    {
                        if (rental.IsActive)
                        {
                            <tr>
                                <th scope="row">
                                    <label class="custom-control custom-checkbox m-0 p-0">
                                        <input type="checkbox" class="custom-control-input table-select-row">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </th>

                                <td>@rental.Car.Brand.Name @rental.Car.Model</td>
                                <td>@rental.User.FirstName @rental.User.LastName</td>
                                <td>@rental.User.Email</td>
                                <td>@rental.RentDate</td>
                                <td>@rental.ReturnDate</td>
                                <td>@rental.PaymentInfo.PaymentAmount</td>


                                <form method="post" asp-controller="Payment" asp-action="RefundRequest" asp-area="Home">
                                    <input type="hidden" name="rentalId" value="@rental.Id" />
                                    <input type="hidden" name="paymentTransactionId" value="@rental.TransactionId" />
                                    <input type="hidden" name="amount" value="@rental.PaymentInfo.PaymentAmount" />
                                <td><button type="submit" class="btn btn-success btn-sm">Iade Talebini Onayla</button></td>
                                </form>

                            </tr>
                        }
                    }
                </tbody>
            </table>
            </div>
        }
        else
        {
                <div class="card-header d-flex justify-content-center align-items-center">

                <div class="card-header-title">Herhangi bir iade veya iptal talebi bulunmamaktadır.</div>
            </div>
            
        }
    </div>
</div>