@model List<BrandDto>

<div class="col w-75">
    <div class="card mb-grid mt-5">
        <div class="card-header d-flex justify-content-between align-items-center">

            <div class="card-header-title">Silinen Kategori Listesi</div>
        </div>
        <div class="table-responsive-md">
            <table class="table table-actions table-striped table-hover mb-0">

                <thead>
                    <tr>
                        <th scope="col">
                            <label class="custom-control custom-checkbox m-0 p-0">
                                <input type="checkbox" class="custom-control-input table-select-all">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </th>
                        <th scope="col">Marka İsmi</th>
                        <th scope="col">Silen Kullanıcı</th>
                        <th scope="col">Silinme Tarihi</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var brand in Model)
                    {
                        <tr>
                            <th scope="row">
                                <label class="custom-control custom-checkbox m-0 p-0">
                                    <input type="checkbox" class="custom-control-input table-select-row">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </th>
                            <td>@brand.Name</td>
                            <td>@brand.IsDeletedBy</td>
                            <td>@brand.DeletedTime</td>
                            <td>
                                <a class="btn btn-sm btn-outline-success" data-id="@brand.Id" asp-area="Admin" asp-controller="Brand" asp-action="PassiveToActive" asp-route-brandId="@brand.Id">Yayına Al</a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>